@mixin rotateClockMarkupItems() {
    @for $i from 1 to 7 {
        .clock-markup__block:nth-child(#{$i}) {
            transform: rotate(30deg * $i)
        }
    }
}

@mixin rotateTimerMarkupItems() {
    @for $i from 1 to 121 {
        .timer-markup__block:nth-child(#{$i}) {
            transform: translate(-50%, -50%) rotate(3deg * $i);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}