.stopwatch {
    position: relative;
    margin: 0 auto;
    opacity: 0;
    animation: fadeIn 1s linear forwards;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 80vh;
        height: 80vh;
        border-radius: 50%;
        border: 1px solid rgba($color: #848080, $alpha: 0.4);
        background: $stopwatch-container-background;
        box-shadow: $stopwatch-container-shadow; 
        padding: 7rem 0 1rem 0;

        @media screen and (max-width: 768px) {
            height: 50vh;
            width: 50vh;
        }

        @media screen and (max-width: 470px) {
            height: 35vh;
            width: 35vh;
        }
    }

    &__term {
        display: flex;
        width: 85%;
        font-size: 4rem;
        color: $term-color;

        @media screen and (max-width: 768px) {
            width: 80%;
            font-size: 3rem;
        }

        @media screen and (max-width: 470px) {
            font-size: 2rem;
        }
    }

    &__term > div {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        text-shadow: -10px -10px 10px rgba(255, 255, 255, 0.02), 10px 10px 10px rgba(31, 31, 31, 0.5);
    } 

    &__term > div:not(:last-child)::after {
        position: absolute;
        content: ':';
        right: 0;
        transform: translate(60%, -5%);
    }
    
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 10rem;
        flex-wrap: wrap;
        width: 80%;

        @media screen and (max-width: 768px) {
            gap: 5rem;
        }
    }

    &__badge {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        pointer-events: none;
        animation: rotate 60s infinite linear paused;
    }

    &__badge.active {
        animation: rotate 60s infinite linear;
    }

    &__badge.reset {
        animation: none;
    }


    &__badge::before {
        position: absolute;
        content: '';
        width: 3rem;
        height: 3rem;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: $clock-second-hand;

        @media screen and (max-width: 768px) {
            width: 2rem;
            height: 2rem;
        }
    }
}

.buttons__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background: $buttons-background;
    color: $buttons-color;
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.02), 10px 10px 20px rgba(31, 31, 31, 0.4);
    cursor: pointer;
    transition: box-shadow .3s;

    @media screen and (max-width: 768px) {
        width: 4em;
        height: 4em;
    }

    & > img {
        position: absolute;
        width: 40%;
        height: 40%;
    }

    &:hover {
        box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.02), 10px 10px 20px rgba(31, 31, 31, 1);
    }

    &-stop {
        display: none;
    }

    &-stop.active {
        display: flex;
    }

    &-start.active {
        display: none;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 
    100% {
        transform: rotate(360deg);
    }
}