//CLOCK
$clock-container-background: linear-gradient(134.17deg, #394048 4.99%, #3d454f 94.88%);
$clock-container-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5), 19px 25px 92px -32px rgba(35, 40, 45, 0.35);  
$clock-face-background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.04)), linear-gradient(248.53deg, #30363c -12.81%, #313941 305.95%);
$clock-face-shadow: inset -12px -12px 30px rgba(72, 83, 92, 0.2), inset 7px 7px 8px rgba(35, 40, 45, 0.75), inset 20px 14px 40px -1px rgba(35, 40, 45, 0.8);
$clock-hour-minute-hand: #8E98A2;
$clock-second-hand: linear-gradient(#FE725C, #FD251E);
$markup-color: #8896a0;

//STOPWATCH
$stopwatch-container-background: linear-gradient(134.17deg, #394048 4.99%, #3d454f 94.88%);
$stopwatch-container-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
$buttons-background: #8E98A2;
$term-color: #cfcdcd;
$buttons-color: #292626;

//TIMER
$timer-markup-paused-color: #cecece;
$timer-markup-color: #0c6ed0;
$timer-markup-active-color: #1e1e1e;

//NAVIGATION
$navigation-color: #dce7f1;
$navigation-background: #484c51;
$navigation-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
$navigation-link-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), inset 0px 4px 4px rgba(0, 0, 0, 0.3);